---
import Layout from "@/shared/components/layout/Layout.astro"
import { getCollection } from "astro:content"
import ExperienceCard from "./ExperienceCard"
import CardsWrapper from "./ExperienceCard/CardsWrapper.astro"
import { Header } from "./Header"

const experienceContent = await getCollection("experience")
---

<Layout title="Sebastian Buitrago" id="root" class="scroll-smooth">
	<div
		id="cv-background"
		class="pointer-events-none fixed inset-0 z-30 h-full transition duration-300"
	>
	</div>

	<div
		class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
	>
		<div class="flex flex-col gap-8 lg:flex-row lg:justify-between lg:gap-20">
			<Header />
			<main class="flex flex-col gap-10 lg:flex-1 lg:py-24" id="about">
				<!-- <CardsWrapper title="About Me"> -->
				<p data-cv-info="about" class="text-neutral-secondary">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quod inventore ex harum
					tenetur similique ab temporibus ratione commodi facilis tempore eius eveniet provident,
					ullam, veritatis minus recusandae. Quibusdam, corporis? Minus corporis sequi possimus,
					ducimus debitis neque laboriosam maiores facilis repudiandae natus culpa eaque accusantium
					labore! Eligendi eius nesciunt cum? Lorem ipsum dolor sit amet, consectetur adipisicing
					elit. Nulla at rerum esse molestiae praesentium suscipit voluptates, corrupti aut adipisci
					impedit nemo temporibus eveniet ea odit, repellat ullam assumenda, cum reiciendis. Lorem
					ipsum, dolor sit amet consectetur adipisicing elit.<strong class="text-accent/80">
						Et dignissimos</strong
					> dolore quibusdam numquam sunt ullam nostrum enim illum maxime voluptatibus mollitia, error
					rem sequi tenetur laudantium, nesciunt corporis est debitis!
				</p>
				<!-- </CardsWrapper> -->

				<CardsWrapper data-cv-info="experience" title="Experience" class="mt-7" id="experience">
					{
						experienceContent.map(async ({ data: experience, render }) => {
							const { Content } = await render()
							return (
								<li>
									<ExperienceCard {...experience}>
										<Content />
									</ExperienceCard>
								</li>
							)
						})
					}
				</CardsWrapper>

				<CardsWrapper data-cv-info="education" title="Education" class="mt-7" id="education">
					{
						experienceContent.map(async ({ data: experience, render }) => {
							const { Content } = await render()
							return (
								<li>
									<ExperienceCard {...experience}>
										<Content />
									</ExperienceCard>
								</li>
							)
						})
					}
				</CardsWrapper>
			</main>
		</div>
	</div>
</Layout>

<script>
	import "./inteceptorEffect"
	import "./mouseColorEffect"
</script>
