@tailwind base;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 8%;
		--background-secondary: 0 0% 8%;
		--primary: 24 100% 70%;
		--accent: 39 66% 70%;
		--neutral-primary: 0 0% 90%;
		--neutral-secondary: 0 0% 70%;
	}
}

/* have into account prefer reduced motion */
