---
import capitalize from "@/shared/utils/capitalize"

type Props = {
	startDate: Date
	endDate: Date | "present"
}

const { startDate, endDate } = Astro.props
---

<div class="rounded-full bg-accent/5 px-3 py-1 text-xs text-accent">
	<time datetime={startDate.toISOString()}>
		{
			startDate.toLocaleDateString("es-CO", {
				year: "numeric",
			})
		}
	</time>
	-
	{
		endDate === "present" ? (
			capitalize(endDate)
		) : (
			<time datetime={endDate.toISOString()}>
				{endDate.toLocaleDateString("es-CO", {
					year: "numeric",
				})}
			</time>
		)
	}
</div>
