---
import OpenLink from "@/shared/components/Icons/OpenLink.astro"
import type { CollectionEntry } from "astro:content"
import Chip from "./Chip.astro"

type Props = CollectionEntry<"experience">["data"]

const {
	title,
	company: { name: companyName, url: companyUrl },
	startDate,
	endDate,
	technologies,
} = Astro.props
---

<article class="flex flex-col gap-5">
	<header>
		<h2 class="text-lg font-light">{title}</h2>

		<h3>
			<a
				href={companyUrl}
				class="group flex items-center gap-2 text-neutral-secondary hover:text-accent"
				target="_blank"
				>{companyName}

				<OpenLink color="neutral-secondary" class="group-hover:text-accent" size="xs" /></a
			>
		</h3>
	</header>

	<section
		class="experience-description flex list-decimal flex-col gap-4 text-sm text-neutral-secondary"
	>
		<slot />
	</section>

	<div class="flex flex-wrap gap-4">
		{technologies.map((technology) => <Chip>{technology}</Chip>)}
	</div>
</article>

<style>
	.experience-description :global(ul) {
		padding-left: 20px;
		list-style: disc;
		padding-left: 20px;
		:global(li) {
			padding: 5px 0;
		}
	}
</style>
